<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- PostgreSQL for Hibernate 5 -->
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/companydb</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456789</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--postgre için
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres?currentSchema=companydb</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">123456789</property>
        -->


        <!-- SQL Output Configuration -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Schema Generation -->
        <property name="hbm2ddl.auto">create</property>

        <!-- Hibernate Mappings -->
        <mapping class="com.tunahankarakok.entity.Person"/>
        <mapping class="com.tunahankarakok.entity.Employee"/>
        <mapping class="com.tunahankarakok.entity.Owner"/>
    </session-factory>
</hibernate-configuration>
